
.Main 
{
  display:flex;
  justify-content: space-around;
  font-family:"Comic Sans MS", cursive, sans-serif;

}

.left, .right
{
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
    margin-top: 40px;
    border-radius: 15px;
    background-color: #e8f8f2;
}

.right
{
  width: 50%;  
  
  
}
.left 
{
    width:30%;
 
}


.Hala-info
{
border: 1px solid black;
margin: 30px;
}
.explanation
{
    text-indent: 20px;
    font-size: 10px;
    margin: auto;
    font-family:"Comic Sans MS", cursive, sans-serif;

}
.img-on-left
{
    width: 150px;
    height: 150px;
      
}
.img-contries
{
    width: 50px;
    height: 50px;
      
}

.img-contries:hover
{
    width: 60px;
    /* This is 52px total. 1/2 of that is for top and the other half is for bottom. */
    height: 60px;
    /* Below we are not using -26px for margin-top because .box has 6px border and 10px margin. */
    /* That 16px is then divide by 2 since it's for both top and bottom, or 8px per side. */
    /* Having said that, 26px - 8px is 18px. We need negative value to position it correctly. */
    margin-top: -18px;
   -moz-box-shadow:    0 0 5px grey;
   -webkit-box-shadow: 0 0 5px grey;
   box-shadow:         0 0 5px grey;    
  }
  .img-on-left:hover
{
    width: 160px;
    /* This is 52px total. 1/2 of that is for top and the other half is for bottom. */
    height: 160px;
    /* Below we are not using -26px for margin-top because .box has 6px border and 10px margin. */
    /* That 16px is then divide by 2 since it's for both top and bottom, or 8px per side. */
    /* Having said that, 26px - 8px is 18px. We need negative value to position it correctly. */
    margin-top: -18px;
   -moz-box-shadow:    0 0 5px grey;
   -webkit-box-shadow: 0 0 5px grey;
   box-shadow:         0 0 5px grey;    
  }
.imgs
{
      margin: auto;
      text-align: center;

}

.Head
{
text-align: center;
font-weight: 300;
}
h4
{
    margin: 10px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-align:center;
}
p
{
    width:100%;
}