body {
   margin-right: 80px;
  

}

.Romania{
   color:green;
   border-style: none;
}
p.Nestled{
   border-style:hidden;;
}



p.Volunteer{
   color:brown;
   border-style: ridge;
   
 
}
.Rome{
   color:green;
}