body {
   margin-right: 80px;
   margin-left: 80px;
   width:800px;
   height:500px;
  

}

div.picture{
   border-right-width:800px;
   border-left-width: 500px;


  

   
  
}
.Romania{
   color:green;
   border-style: none;
   
}
p.Nestled{
   border-style:hidden;;
}
.name{
   display: flex;
   justify-content: flex-end;
}


p.Volunteer{
   color:brown;
   border-style: ridge;
    width:800px; 
   
 
}
.Rome{
   color:green;
}