body{
    background-image: url(https://image.shutterstock.com/z/stock-photo-bangkok
    -thailand-june-political-map-of-south-america-continent-1104283148.jpg);
}



h1{
    text-align: center;
    color: red;
}
.muhkham {
    width:256px;
    height:256px;
}
.dicription{
    color:green;

}