body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.main-head{
    width:100%;
}

.main-head-img{
    width: 100%;
    height: 200px;
}
.h2 {
    display: flex;
    justify-content: center;
    background-color: skyblue;
    text-align: center;
    color:brown;
    font-size: 30px;
    padding: 10;
    width: 100%;
}
.main-info{
    background-image: url('https://cdnuploads.aa.com.tr/uploads/Contents/2019/12/27/thumbs_b_c_9b5f376417fc7fae866215ee49de2da7.jpg?v=230607');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right{
    text-align: justify;
    text-justify: auto;
    color:black;
    font-size: 40px;
    padding: 10px;
}

.left{ 
    padding: 10px;
    width:256px;
    height:256px;
}

.list{
    width: 300px;
    border: 10px solid blue;
    padding: 30px;
    margin: 20px;
    list-style-type:square;
}

.table{display:flex;
    justify-content: flex-start ;

}
li{
    font-size:25px;
}

.countries{ 
    display:flex;
    justify-content: space-between;
    justify-content: space-around;

}
.pic-flag{
    width:60px;
    height:40px;
    border-color:black;
  
}
.images1{ 
    display:flex;
    justify-content: space-between;
    justify-content: space-around;
  
}

.pic{
    width:200px;
    height:200px;
    border-color:black;
   
}



.further{display:flex;
        justify-content:center;
    color:rgb(8, 8, 8);
}

.about-us{
    font-size:20px;
}
.list-title{
    color: red;
    font-size: 40px;
}

.about-us-2{
    text-align: justify;
    text-justify: auto;
}