body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.main-head{
    width:100%;
}

.main-head-img{
    width: 100%;
    height: 200px;
}
.h2 {
    display: flex;
    justify-content: center;
    background-color: skyblue;
    text-align: center;
    color: rebeccapurple;
    font-size: 30px;
    padding: 10;
    width: 600px;
}

   
.info{
    display:flex;
    justify-content: center;
    color: rgb(226, 43, 134);
    width: 600px;
    border: 10px solid rgb(76, 76, 253);
    padding: 10px;
    margin: 20px;
    font-size : 25px;
}
.muhkham{
    width:256px;
    height:256px;
}

.right{
    display:flex;
    justify-content: flex-end;
    padding: 10px;
}

.left{
    display:flex;
    justify-content: flex-start;
    padding: 10px;
}

.list{
    width: 300px;
    border: 10px solid blue;
    padding: 30px;
    margin: 20px;
    list-style-type:square;
}

.table{display:flex;
    justify-content: flex-start ;

}
li{
    font-size:25px;
}

.countries{ 
    display:flex;
    justify-content: space-between;
    justify-content: space-around;

}
.pic-flag{
    width:60px;
    height:40px;
    border-color:black;
  
}
.images{ 
    display:flex;
    justify-content: space-between;
    justify-content: space-around;
  
}

.pic{
    width:200px;
    height:200px;
    border-color:black;
   
}



.further{
    color:rgb(8, 8, 8);