.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 300px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 100px;
}
html {
  scroll-behavior: smooth;
}


/*muhammad section-below*/
#div {
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
}
.div-image{width: 130px;
  height: 100px;
}

.members h5 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.members-title {
  display: flex;
  justify-content: center;
  color: orangered;
  font-size: 45px;
}

.members-pic {
  display: flex;
  justify-content: center;
  width: 700px;
  height: 140px;
}

/*muhammad section-above*/

@keyframes mymove {
  from {
    left: -428px;
  }
  to {
    left: 428px;
  }
}

.head-Nizar:hover,
.head-Nizar:focus {
  color: #03518a;
  cursor: pointer;
  background-color: bisque;
}

.head-Nizar-link {
  text-decoration: none;
  color: inherit;
}

.head-Nizar {
  border-style: solid;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

#lastElem {
  border-right: solid;
}
.head {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 73.3%;
  height: 35px;
  background-color: chocolate;
  padding-inline-start: 0%;
  margin-block-start: -8px;
}

body {
  background-color: burlywood;
  display: flex;
  align-items: center;
  flex-direction: column;
  display: flex;
}

span {
  margin: 5px;
}

input,
select {
  border-radius: 4px;
  width: 85%;
  margin: 10px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 10px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
ul.name {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 73.3%;
  height: 35px;
  background-color: chocolate;
  padding-inline-start: 0%;
  margin-block-start: -8px;
  border-style: solid;
  border-right: solid;
}

.main-intro {
  font-family: "Arial";
  width: 100%;
}

.text-intro {
  border-style: solid;
  width: 40%;
  background-color: #d4a268;
  box-shadow: 5px 10px #c79761;
  border-radius: 15px;
  padding: 2%;
  margin: auto;
}
.img-intro
 {
  width: 90%;
  margin:center;
}
.head-shoog{
  border-style: solid;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%; 
}
.bottomline
{
    width:100%;text-align:left;margin-left:0;
} 
.images{
  display:flex;
  justify-content: space-around;
  width:80%;
}